<div id="dashboard-main" style="font-size: <%=h @fontsize %>px;" class="dashboard-status-<%= @alert ? "alert" : "normal" %>">
    <%=h @new_messages %> messages in the last <%=h @timespan %> minutes
</div>
