<div id="dashboard-main" style="font-size: <%=h @fontsize %>px;" class="dashboard-status-<%= @alert ? "alert" : "normal" %>">
    <%=h pluralize @new_messages, "message" %> in the last <%=h @timespan %> minutes
</div>
