<div id="gl-table-checkbox-actions">
  Actions: <%= link_to "Delete", { }, "data-action" => "delete" %>,
           <%= link_to "Mark", { },  "data-action" => "markAsValid" %>,
           <%= link_to "Unmark", { },  "data-action" => "markAsInvalid" %>
</div>
<div id="gl-table-pagination">
  <%= will_paginate records %>
</div>
