#top {
  width: 100%;
  height: 35px;
  background-color: #222222;
  color: #FFFFFF;
}

#top-left {
  float: left;
}

#top-title {
  font-size: 25px;
  margin-left: 10px;
}

#top-user {
  font-size: 10px;
}

#top-user a {
  color: #FFFFFF;
}

#top-user a:hover {
  color: #FF0000;
}

#top-menu {
  margin: 0px;
  padding: 0px;
  margin-left: 300px;
  padding-top: 5px;
  list-style-type: none;
  font-size: 14px;
}

#top-menu li {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 5px;
  float: left;
}

#top-menu li:hover {
  background-color: #FF0000;
}

#top-menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.top-menu-active-link {
  font-weight: bold;
}

#top-right {
  float: right;
  font-size: 12px;
  padding-top: 5px;
  padding-right: 5px;
}

#content {
  background-color: #FFFFFF;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#new-messages {
  margin-bottom: 10px;
}

#gl-table {
  font-size: 11px;
}

.log-table-mark {
  width: 15px;
}

.log-table-mark-row {
  padding-right: 0px !important;
}

.log-table-date {
  width: 235px;
}

.log-table-host {
  width: 100px;
}

.log-table-severity {
  width: 120px;
}

#gl-table-top {
  font-size: 11px;
  padding-left: 8px;
  margin-top: 15px;
}

#gl-table-pagination {
  float: right;
}

#gl-table-checkbox-actions {
  float: left;
} 

#filters {
  margin-bottom: 15px;
}

#filters label {
  margin-left: 5px;
}

input, select {
  border: 1px solid #CCCCCC;
  font-size: 11px;
}

#new-category-from-filter {
  margin-bottom: 15px;
}

#settings-form-new-category dt {
  float: left;
}

#settings-form-new-category dd {
  padding-left: 100px;
}

#settings-form-new-category label {
  font-weight: bold;
}

#categories-filter-description {
  margin-bottom: 15px;
}

#categories-list {
  margin-top: 10px;
}

.categories-list-column-title {
  font-weight: bold;
}

#favorites {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  list-style-type: none;
}

#favorites li {
  float: left;
  padding-right: 3px;
}

#favorites-title {
  font-weight: bold;
  float: left;
  padding-right: 10px;
}
