<h1>Valid messages</h1>
<p>All messages that are marked as valid are listed here.</p>

<%= render :partial => "overview/list", :locals => { :records => @messages, :is_valid_messages_view => true } %>
